body {
  max-width: 800px;
  margin: 0 auto;
  padding: 8px;
}

h2 {
  padding: 0 8px;
  font-weight: normal;
  margin: 16px 0 8px 0;
  text-transform: uppercase;
}

.Item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  line-height: 1rem;
  padding: 4px 8px;
  border-radius: 4px;
  color: #444;
}

.Item:nth-child(even) {
  background: #f2f2f2;
}

.Item__name {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-right: 6px;
}

.Item__price {
  /* font-size: .85rem; */
}

.Item__ingredients {
  flex: 1;
  margin-top: -4px;
}

.Item__ingredient {
  --background-color: #000;
  --color: #fff;
  background: var(--background-color);
  color: var(--color);
  border-radius: 8px;
  display: inline-block;
  padding: 2px 4px;
  margin: 4px 4px 0 0;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  font-size: .8rem;
}

.Item__ingredient:hover, .Item__ingredient:focus {
  box-shadow: 0 0 0 1px black;
}

/*
var colourIsLight = function (r, g, b) {
  
  // Counting the perceptive luminance
  // human eye favors green color... 
  var a = 1 - (0.299 * r + 0.587 * g + 0.114 * b) / 255;
  return (a < 0.5);
}
*/

.Item__ingredient.tomat { --background-color: rgb(244, 67, 54); --color: #fff; }
.Item__ingredient.ost { --background-color: rgb(255, 213, 79); --color: #111; }
.Item__ingredient.skinka { --background-color: rgb(255, 205, 210); --color: #111; }
.Item__ingredient.champinjoner { --background-color: rgb(121, 85, 72); --color: #fff; }
.Item__ingredient.paprika { --background-color: rgb(139, 195, 74); --color: #111; }
.Item__ingredient.tonfisk { --background-color: rgb(233, 30, 99); --color: #fff; }
.Item__ingredient.gurka { --background-color: rgb(76, 175, 80); --color: #111; }
.Item__ingredient.ananas { --background-color: rgb(255, 235, 59); --color: #111; }
.Item__ingredient.sallad { --background-color: rgb(220, 231, 117); --color: #111; }
.Item__ingredient.citron { --background-color: rgb(255, 245, 157); --color: #111; }
.Item__ingredient.lok { --background-color: rgb(255, 224, 130); --color: #111; }
.Item__ingredient.kyckling { --background-color: rgb(226, 177, 157); --color: #111; }
/* oliver, farost, rakor, pitabröd, kött, peperoni, starksas, kott, tunnbrod, oxfile, vitlok, bearnaisesas, gorgonzola, mozzarella, valnotter, ruccola, honung, oregano */

.header {
  text-align: center;
  line-height: 1.5rem;
}

.filters {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  margin: 16px 0;
}

.filters h3 {
  text-transform: uppercase;
  font-weight: normal;
  padding: 0;
  margin: 0 0 16px 0;
}